<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Yup and Coming</title>
        <itunes:author>Andy Trattner</itunes:author>
        <email>093alt@gmail.com</email>
        <itunes:image href="http://yupandcoming.com/logo-white.png"/>
        <googleplay:owner>093alt@gmail.com</googleplay:owner>
        <googleplay:author>Andy Trattner</googleplay:author>
        <description>Learning from tomorrow's ruckus-makers, today.</description>
        <googleplay:image href="https://yupandcoming.github.io/gradient-logo.svg"/>
        <itunes:category text="Business">
          <itunes:category text="Careers" />
        </itunes:category>
        <itunes:explicit>true</itunes:explicit>
        <language>en-us</language>
        <link>https://yupandcoming.github.io/</link>
        {% for post in site.posts %}
        <item>
          <title>{{ post.title }}</title>
          <description>{{ post.description }}</description>
          <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
          <enclosure url="{{ post.audio }}"
                     type="audio/mpeg" length="{{ post.length }}"/>
          <itunes:duration>{{ post.duration }}</itunes:duration>
          <guid isPermaLink="false">sometihng</guid>
        </item>
        {% endfor %}
    </channel>
</rss>
